<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HowToBeAGameMaster Character Creation</title>
    {% load static %}
    <script src="{% static 'characters/formcontrols.js' %}"></script>
    <script>window.onload = eventListenerInit;</script>
</head>
<body>
    <h1>Create a new Character</h1>
    <form action="{% url 'characters:create' %}" method="post">
        <div id="character">
        <fieldset>
            {% csrf_token %}
            {{ char_form.as_p }}
            {{ skill_formset.management_form }}
        </fieldset>
        </div>
        <div id="skills">
        {% for form in skill_formset %}
        <fieldset class="skill">
            {{ form.as_p }}
        </fieldset>
        {% endfor %}
        </div>
        <input id="characterSubmit" type="submit" value="Create Character" disabled="true">
    </form>
    <div id="skill-values-validator">
        <p id="skill-points-remaining">Remaining Skill Points: 400</p>
    </div>
    <button id="addSkill" onclick="addSkill()">add Skill</button>
    {% if text %}<p><strong>{{ text }}</strong></p>{% endif %}
</body>
</html>