<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HowToBeAGameMaster Character Creation</title>
</head>
<body>
    <h1>Create a new Character</h1>
    <form action="{% url 'characters:create' %}" method="post">
        <formset>
            {% csrf_token %}
            {{ char_form }}
        </formset>
        <formset>
            {% for skill_field in char_form.get_skill_fields %}
                {{ skill_field }}
            {% endfor %}
        </formset>
        <input type="submit" value="Submit">
    </form>
    {% if text %}<p><strong>{{ text }}</strong></p>{% endif %}
</script>
</body>
</html>