<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HowToBeAGameMaster Character Creation</title>
</head>
<body>
    <h1>Create a new Character</h1>
    <form action="{% url 'characters:create' %}" method="post">
        <fieldset>
            {% csrf_token %}
            {{ char_form }}
        </fieldset>
        <fieldset>
            {{ skill_formset.management_form }}
            {{ skill_formset }}
        </fieldset>
        <input type="submit" value="Submit">
    </form>
    {% if text %}<p><strong>{{ text }}</strong></p>{% endif %}
</script>
</body>
</html>